{{ define "content" }}
<div class="container">
  <h1 class="text-center">Todo list</h1>
  <div class="d-flex justify-content-evenly font-monospace">
    <div>UserName: {{ .Name }}</div>
    <div>Email: {{ .Email }}</div>
    <div>UUID: {{ .UUID }}</div>
  </div>
  <hr />

  <form role="form" action="/todos/save" method="post">
    <div class="mb-3">
      <label for="content" class="form-label lead">Create Todo</label>
      <textarea
        id="content"
        name="content"
        class="form-control mb-3"
        placeholder="Add todo"
        rows="3"
      ></textarea>

      <label for="deadline" class="form-label lead">Deadline</label>
      <input
        type="datetime-local"
        id="deadline"
        name="deadline"
        class="form-control mb-3"
      />
      <button class="btn btn-outline-primary" type="submit">Create</button>
    </div>
  </form>

  <hr />

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Content</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">Deadline</th>
        <th scope="col">Timer</th>
        <th scope="col">Control</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Todos }}
      <tr>
        <th id="todo-{{.ID}}" scope="row">{{ .ID }}</th>
        <td class="col-md-4">{{ .Content }}</td>
        <td id="created-{{.ID}}">{{ .CreatedAt }}</td>
        <td id="deadline-{{.ID}}">{{ .Deadline }}</td>
        <td class="col-md-2">
          <div class="progress">
            <div id="bar-{{.ID}}"></div>
          </div>
          <div id="timer-{{.ID}}"></div>
        </td>
        <td class="col-md-3">{{ template "control" .}}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

<!-- navbar -->
{{ define "navbar" }}
<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Deadline Todo App</a>
    <ul class="navbar-nav collapse navbar-collapse">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          >Menu</a
        >
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/todos">Todo List</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{{ end }}

<!-- edit and delete control -->
{{ define "control" }}
<details>
  <summary>[Edit Todo]</summary>
  <form role="form" action="/todos/update/{{.ID}}" method="post">
    <div class="form-group">
      <textarea
        name="content"
        class="form-control mb-2"
        placeholder="Update content"
        rows="2"
      >
{{ .Content }}</textarea
      >
      <input
        type="datetime-local"
        name="deadline"
        class="form-control mb-2"
        value="{{.Deadline}}"
      />
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-secondary" type="submit">
            Update
          </button>
        </div>
        <div class="col text-end">
          <a class="btn btn-outline-danger" href="/todos/delete/{{.ID}}"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </form>
</details>
{{ end }}
